.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000000;
}
.popup_inner_signup {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 15%;
  bottom: 25%;
  margin: auto;
  border-radius: 10px;
  background-color: #ccc;
  z-index: 1000000000;
}
.popup_inner_login {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 10px;
  background-color: #ccc;
  z-index: 1000000000;
}
.close_popup {
  padding-left: 20px;
  cursor: pointer;
  color: rgba(68, 68, 68, 0.5);
}

#closeBtn:hover {
  color: red;
}

.acc_info_header {
  margin-bottom: 25px;
  height: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.acc_info_title {
  float: left;
  font-weight: bold;
  font-size: 20px;
}
.acc_info_left {
  float: left;
  width: 49%;
  margin-right: 10px;
  vertical-align: top;
  margin-bottom: 15px;
}
.acc_info_right {
  width: 49%;
  vertical-align: top;
  float: right;
  margin-bottom: 15px;
}
.acc_info_items {
  width: 100%;
  clear: both;
}
